### Recommendations with MovieTweetings: Getting to Know The Data

Throughout this lesson, you will be working with the [MovieTweetings Data](https://github.com/sidooms/MovieTweetings/tree/master/recsyschallenge2014).  To get started, you can read more about this project and the dataset from the [publication here](http://crowdrec2013.noahlab.com.hk/papers/crowdrec2013_Dooms.pdf).

**Note:** There are solutions to each of the notebooks available by hitting the orange jupyter logo in the top left of this notebook.  Additionally, you can watch me work through the solutions on the screencasts that follow each workbook. 

To get started, read in the libraries and the two datasets you will be using throughout the lesson using the code below.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tests as t

%matplotlib inline

# Read in the datasets
movies = pd.read_csv(
    'original_movies.dat',
    delimiter='::',
    header=None,
    names=['movie_id', 'movie', 'genre'],
    dtype={'movie_id': object},
    engine='python'
)

reviews = pd.read_csv(
    'original_ratings.dat',
    delimiter='::',
    header=None,
    names=['user_id', 'movie_id', 'rating', 'timestamp'],
    dtype={'movie_id': object, 'user_id': object, 'timestamp': object},
    engine='python'
)

# Reduce the size reviews dataset
reviews = reviews.loc[:100000,:]

#### 1. Take a Look At The Data 

Take a look at the data and use your findings to fill in the dictionary below with the correct responses to show your understanding of the data.

In [3]:
# Use this cell to find the following information:
# number of movies
# number of ratings
# number of different genres
# number of unique users
# number of missing ratings
# the `average`, `min`, and `max` ratings given

In [4]:
# You can click `+` button on the navbar to add cells for additional work

In [5]:
# Use your findings to match each variable to the correct statement in the dictionary
a = 8022
b = 10
c = 7
d = 35479
e = 15
f = 0
g = 4
h = 100001
i = 28

# Guide: replace "ENTER YOUR ANSWER HERE" with the matching letter above.
# For example, 'The number of movies in the dataset': d,

dict_sol1 = {
'The number of movies in the dataset': "ENTER YOUR ANSWER HERE", 
'The number of ratings in the dataset': "ENTER YOUR ANSWER HERE",
'The number of different genres': "ENTER YOUR ANSWER HERE", 
'The number of unique users in the dataset': "ENTER YOUR ANSWER HERE", 
'The number missing ratings in the reviews dataset': "ENTER YOUR ANSWER HERE", 
'The average rating given across all ratings': "ENTER YOUR ANSWER HERE",
'The minimum rating given across all ratings': "ENTER YOUR ANSWER HERE",
'The maximum rating given across all ratings': "ENTER YOUR ANSWER HERE"
}

# Check your solution
t.q1_check(dict_sol1)

Oops!  That doesn't look quite right.  Try again.

#### 2. Data Cleaning

Next, we need to pull some additional relevant information out of the existing columns. 

For each of the datasets, there are a couple of cleaning steps we need to take care of:

#### Movies
* Pull the date from the title and create new column
* Dummy the date column with 1's and 0's for each century of a movie (1800's, 1900's, and 2000's)
* Dummy the genre column with 1's and 0's for each genre

#### Reviews
* Create a date out of time stamp

You can check your results against the header of my solution by running the cell below with the **show_clean_dataframes** function.

In [6]:
# Cell for work

In [7]:
# Click `+` button on the nav menu to add more cells for work

In [8]:
reviews_new, movies_new = t.show_clean_dataframes()

   Unnamed: 0  user_id  movie_id  rating   timestamp                 date
0           0        1    114508       8  1381006850  2013-10-05 21:00:50
1           1        2    208092       5  1586466072  2020-04-09 21:01:12
2           2        2    358273       9  1579057827  2020-01-15 03:10:27
3           3        2  10039344       5  1578603053  2020-01-09 20:50:53
4           4        2   6751668       9  1578955697  2020-01-13 22:48:17
   Unnamed: 0  movie_id                                              movie  \
0           0         8      Edison Kinetoscopic Record of a Sneeze (1894)
1           1        10                La sortie des usines Lumi√®re (1895)
2           2        12                      The Arrival of a Train (1896)
3           3        25  The Oxford and Cambridge University Boat Race ...
4           4        91                         Le manoir du diable (1896)

               genre  date  1800's  1900's  2000's  Documentary  Adventure  \
0  Documentary|Short  1894       1       0       0            1          0
1  Documentary|Short  1895       1       0       0            1          0
2  Documentary|Short  1896       1       0       0            1          0
3                NaN  1895       1       0       0            0          0
4       Short|Horror  1896       1       0       0            0          0

   ...  War  Romance  Musical  Film-Noir  Sport  Mystery  Western  Horror  \
0  ...    0        0        0          0      0        0        0       0
1  ...    0        0        0          0      0        0        0       0
2  ...    0        0        0          0      0        0        0       0
3  ...    0        0        0          0      0        0        0       0
4  ...    0        0        0          0      0        0        0       1

   Comedy  Music
0       0      0
1       0      0
2       0      0
3       0      0
4       0      0

[5 rows x 36 columns]